<a href="https://colab.research.google.com/github/SuperDataWorld/Python/blob/main/Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda Expression V Regular Functions

In [ ]:
# Creating a function 
def squared(num):
  return num ** 2
print(squared(4))

# using a lambda expression
(lambda x: x**2)(4)

Lambda Expression if If Statement

In [ ]:
num = 5

if(num > 4):
   print('Greater') 
else: 
   print('Less')

(lambda x: 'Greater' if x > 4 else 'Less')(num)

Lambda Expression in Dataframes with Apply

In [ ]:
import pandas as pd

df=pd.DataFrame({
    'id':[1,2,3,4,5],
    'name':['Paul','Tim','Mary','Tony','Sam'],
    'age':[31,45,90,20,35],
    'income':[50000,70000,25000,5000,100000],
    'married':[True, False, True, False, True]
})

print(df.head())
df['lamdba cat'] = df['income'].apply(lambda x: 'high income' if x > 30000 else ('medium income' if x > 7500 else 'low income'))

print(df.head())

Advanced Filtering

In [ ]:
df[(df['age'] > 20) & (df['income'] * 3.5 > 100000)]

In [ ]:
df[len(df['name'] > 3)]

In [ ]:
df[df.apply(lambda x : (x['age'] > 20) & (x['income'] * 3.5 > 100000) & (len(x['name']) <= 3),axis=1) & (df["age"] < df["age"].mean())]

Change Case

In [ ]:
df['name'].apply(lambda x: x.upper())

In [ ]:
df['name'].apply(lambda x: x.lower())