<a href="https://colab.research.google.com/github/SuperDataWorld/Python/blob/main/Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda Expression V Regular Functions

In [1]:
# Creating a function 
def squared(num):
  return num ** 2
print(squared(4))

# using a lambda expression
(lambda x: x**2)(4)

16

16

Lambda Expression if If Statement

In [2]:
num = 5

if(num > 4):
   print('Greater') 
else: 
   print('Less')

(lambda x: 'Greater' if x > 4 else 'Less')(num)

Greater

'Greater'

Lambda Expression in Dataframes with Apply

In [3]:
import pandas as pd

df=pd.DataFrame({
    'id':[1,2,3,4,5],
    'name':['Paul','Tim','Mary','Tony','Sam'],
    'age':[31,45,90,20,35],
    'income':[50000,70000,25000,5000,100000],
    'married':[True, False, True, False, True]
})

print(df.head())
df['lamdba cat'] = df['income'].apply(lambda x: 'high income' if x > 30000 else ('medium income' if x > 7500 else 'low income'))

print(df.head())

   id  name  age  income  married
0   1  Paul   31   50000     True
1   2   Tim   45   70000    False
2   3  Mary   90   25000     True
3   4  Tony   20    5000    False
4   5   Sam   35  100000     True
   id  name  age  income  married     lamdba cat
0   1  Paul   31   50000     True    high income
1   2   Tim   45   70000    False    high income
2   3  Mary   90   25000     True  medium income
3   4  Tony   20    5000    False     low income
4   5   Sam   35  100000     True    high income

Advanced Filtering

In [4]:
df[(df['age'] > 20) & (df['income'] * 3.5 > 100000)]

   id  name  age  income  married   lamdba cat
0   1  Paul   31   50000     True  high income
1   2   Tim   45   70000    False  high income
4   5   Sam   35  100000     True  high income

In [31]:
df[df['name'].apply(len) > 3]

   id  name  age  income  married     lamdba cat
0   1  Paul   31   50000     True    high income
2   3  Mary   90   25000     True  medium income
3   4  Tony   20    5000    False     low income

In [ ]:
df[df.apply(lambda x : (x['age'] > 20) & (x['income'] * 3.5 > 100000) & (len(x['name']) <= 3),axis=1) & (df["age"] < df["age"].mean())]

Change Case

In [ ]:
df['name'].apply(lambda x: x.upper())

In [ ]:
df['name'].apply(lambda x: x.lower())