<a href="https://colab.research.google.com/github/analyticswithadam/Python/blob/main/Query_Big_Query_from_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade google-cloud-bigquery

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

In [ ]:
# Set your Google Cloud Project ID
project_id = 'sqlcourse-352110'

In [ ]:
from google.cloud import bigquery
import pandas as pd

# Create a BigQuery client
client = bigquery.Client(project=project_id)

In [ ]:
query = """
          SELECT name, SUM(number) as count
          FROM `bigquery-public-data.usa_names.usa_1910_current`
          GROUP BY name
          ORDER BY count DESC
          LIMIT 10
        """

query_job = client.query(query)

In [ ]:
df = query_job.to_dataframe()
df

In [ ]:
%%bigquery df --project sqlcourse-352110
SELECT name, SUM(number) as count
          FROM `bigquery-public-data.usa_names.usa_1910_current`
          GROUP BY name
          ORDER BY count DESC
          LIMIT 10

In [ ]:
df